# 원하는 Class만 추출
### main code

In [8]:
import pandas as pd
import zipfile
import csv

csv_patent1=open('J:/data/patent/qq.csv','rb')
csv_patent_reader1 = csv.reader(csv_patent1)
header = csv_patent_reader1.next()
class_col = [0,1]

myfile = open("test.csv", 'wb')
myfile_writer = csv.writer(myfile,quoting=csv.QUOTE_ALL)
myfile_writer.writerow(header)
veh_class = [180,187]

for line in csv_patent_reader1:
    for i in class_col:
        if line[i]=='':
            break
            
        else:
            try:            
                if int(line[i]) in veh_class:
                    myfile_writer.writerow(line)
                    break
                
            except ValueError:
                pass            
       
myfile.close()

### veh_class csv에서 추출하기
class list 손으로 입력하지 말고 파일에서 받아오자

In [7]:
import pandas as pd
classinfo=pd.read_csv('J:/data/patent/veh_class.csv')
veh_class=classinfo['class'].tolist()
type(veh_class[2])

long

In [3]:
# Long으로 나오면 int로 바꿔주지 뭐
veh_class = map(int,veh_class)
type(veh_class[2])

int

### class n = ""일 때, class i (i>n) = "" 확인
그래야 for 좀 더 효율적으로 돌리지 (""만나면 바로 break)

In [1]:
###사전작업

import pandas as pd
import zipfile
import csv

zf_patent1 = zipfile.ZipFile('E:/patent/all_patent/harvard_dataset_final_merged_output_1.zip') 
csv_patent1 = zf_patent1.open('harvard_dataset_final_merged_output_1.csv')
csv_patent_reader1 = csv.reader(csv_patent1)

header = csv_patent_reader1.next()
mainclass_col = []

for j in range(62457,63354):
    if 'mainclass' in header[j]:   
        mainclass_col.append(j)
        
classinfo = pd.read_csv('E:/patent/veh_class.csv')
veh_class = classinfo['class'].tolist()
veh_class = map(int,veh_class)

100000개 정도만 check 해보자

In [8]:
er=0
for a in range(0,100000):
    line = csv_patent_reader1.next()
    classlist=[]
    for i in mainclass_col:
        classlist.append(line[i])
    for j in range(0,len(classlist)):
        if classlist[j]=='':
            for k in range(j,len(classlist)):
                if classlist[k]!='':
                    er=er+1
                    break
            break
er

0

개꿀~ ㅎㅎㅎ 이거 쓴다

# Class별 freq 계산

In [72]:
# Basic Settings
import pandas as pd
import zipfile
import csv

csv_patent1=open('J:/data/patent/qq.csv','rb')
csv_patent_reader1 = csv.reader(csv_patent1)
csv_patent_reader1.next()

class_col = [0,1]
veh_class = [180,187]
freq = pd.read_csv('J:/data/patent/qq_freq.csv')

In [73]:
freq

   class  freq
0    180     0
1    187     0

In [74]:
for line in csv_patent_reader1:
    for i in class_col:
    # 공백 시 line 탈출
        if line[i]=='':   
            break
    
        else:
            try:            
                if int(line[i]) in veh_class:
                # 목표를 포착했다 freq를 1 늘리자
                
                    for j in range(0,len(veh_class)):
                        if int(line[i])==freq.at[j,'class']:
                            freq.at[j,'freq'] = freq.at[j,'freq']+1
                            break
                            # 볼일 다 봤으니 탈출
                
            except ValueError:
                pass

In [76]:
freq
freq.to_csv('J:/data/patent/qq_freq.csv',index=False)

# Assginee별 freq   
### count 하기

In [10]:
# Basic Settings
import pandas as pd
import zipfile
import csv

csv_patent1=open('J:/data/patent/qq.csv','rb')
csv_patent_reader1 = csv.reader(csv_patent1)
header=csv_patent_reader1.next()

ass_col = []
for i in range(0,len(header)):
    if 'ass' in header[i]:   
        ass_col.append(i)

assignee 몽땅 list로 뽑기  
issue : nan 뒤에 새로운 assignee가 나오나?? 아님 ''랑 똑같나?

In [14]:
ass = []
p_id=[]
for line in csv_patent_reader1:
    for i in ass_col:
        if line[i]=='':
            break
        
        elif line[i]=='nan':
            ass.append('private')
            p_id.append(line[0])
            
        else:
            ass.append(line[i])
            p_id.append(line[0])

list를 df로 만든 후 count

In [6]:
df = pd.DataFrame({'patent_id':p_id,'assignee':ass})
df = df.drop_duplicates()
freq=df.groupby(['assignee']).size().reset_index().rename(columns={'0':'count'})
freq.columns = ['assignee','freq']

In [9]:
freq

   assignee  freq
0       180     9
1       181     3
2       182     3
3       183     4
4       185     3
5       186     5
6       187     6
7       188     4
8       189     2
9       190     2
10       B3     1
11       D8     1
12        a     1
13        b     1
14        c     1
15        d     1
16      dup     1
17        f     1
18        g     1
19      gid     1
20        j     1
21        l     1
22      lic     1
23        m     1
24        n     1
25       no     1
26        o     1
27  private     2
28        r     1
29        s     1
30      sad     1
31      tjk     1
32        u     1
33        w     1
34        x     1
35        z     1

### 2번 파일 첫 줄 처리

In [16]:
import zipfile
import csv
import os

os.chdir("E:/patent")
zf_patent2 = zipfile.ZipFile('harvard_vehicle_patent2.zip') 
csv_patent2 = zf_patent2.open('harvard_vehicle_patent2.csv')
csv_patent_reader2 = csv.reader(csv_patent2)

In [15]:
n=0
for line in csv_patent_reader2:
    if n < 2:
        print line[2]
        n=n+1
    else:
        break

project_id
6507468

In [17]:
n=0
csv_patent_reader2.next()
for line in csv_patent_reader2:
    if n < 2:
        print line[2]
        n=n+1
    else:
        break

6507468
6507469

# Assignee 이름 정리

In [43]:
def nameprocessing(s):
    s = str(s)
    
    s = s.replace(".","")
    s = s.replace(",","")    
    s = s.replace(";","")
    s = ''.join(s.split()).lower()
    
    s = s.replace("incorporated","inc")
    s = s.replace("limited","ltd")
    s = s.replace("gmbh","")
    
    rm=['inc','ltd','llc','pte']
    for i in range(0,len(s)):
        if s[-3:] in rm:
            s=s[:-3]
        else:
            break

    return s

In [41]:
s='Hyundai Motor,.c.o Incorporated. ltd,. llc i,nc..gmbh ltd. ,lt.d ,gmbh'
s

'Hyundai Motor,.c.o Incorporated. ltd,. llc i,nc..gmbh ltd. ,lt.d ,gmbh'

In [44]:
nameprocessing(s)

'hyundaimotorco'

# Firm별 freq 계산  
### list를 csv로 만들기

In [9]:
import csv
import os

os.chdir("E:/patent")

row=[1,2,3,4]
rows=zip(row)
rows

[(1,), (2,), (3,), (4,)]

In [8]:
with open('veh_row.csv', 'wb') as f:
    writer = csv.writer(f)
    for val in rows:
        writer.writerow(val)

### row 구하기

merger code 보면 patent와 invest data가  
invest / pt_1 / pt_2  
head_iv / head_pt / head_pt  
0 ~ 10  / 0 ~ 5   / 6 ~ 10    

이런 형태
-> **두 번째 pt data의 head**에 대응하는 **invest data의 row**가 없음!  
=> 그렇다면 모든 데이터에서 헤드 떼고 **숫자끼리만 대응**시켜 보자  
<=> reader들 **next 1번씩**하고(=헤드 떼고) 대응시키자

In [7]:
import csv
import os

os.chdir("J:/data/patent")
inv = open('inv.csv','rb')
pt1 = open('pt1.csv','rb')
pt2 = open('pt2.csv','rb')

pt_reader1=csv.reader(pt1)
pt_reader2=csv.reader(pt2)

In [8]:
pt_reader1.next()
pt_reader2.next()

n = 0
row = []
for line in pt_reader1:
    row.append(n)
    n = n+1
    
for line in pt_reader2:
    row.append(n)
    n = n+1

In [9]:
row

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### groupby sum, count

In [1]:
import pandas as pd
import os

os.chdir("J:/data/patent")
df=pd.read_csv('inv.csv')

In [3]:
amt=df.groupby('firm')['amt'].sum()
amt

firm
a    15.0
b    12.0
c    22.0
Name: amt, dtype: float64

In [26]:
freq=df.groupby('firm').size()

firm
a    4
b    3
c    4
dtype: int64

In [24]:
pd.concat([amt, freq], axis=0).reset_index()

  firm   0
0    a  21
1    b  14
2    c  22
3    a   4
4    b   3
5    c   4

In [21]:
final=pd.concat([amt, freq], axis=1).reset_index()
final.columns = ['firm', 'amount','count']
final

  firm  amount  count
0    a      21      4
1    b      14      3
2    c      22      4

# Assignee profile 만들기  

### patent + investment join  
left join, full join 해보자

In [1]:
import pandas as pd
import os

os.chdir("J:/data/patent")

pt = pd.read_csv('pt1.csv')
inv = pd.read_csv('inv.csv')

In [5]:
pt.merge(inv,how='outer',on='ass',sort=True)

   ass  freq  amt  cnt
0    a   1.0  1.0  1.0
1    b   NaN  2.0  2.0
2    c   2.0  3.0  3.0
3    d   3.0  4.0  4.0
4    e   NaN  5.0  5.0
5    f   4.0  6.0  6.0
6    g   5.0  NaN  NaN
7    h   6.0  NaN  NaN
8    i   7.0  NaN  NaN
9    j   8.0  NaN  NaN
10   k   9.0  NaN  NaN

In [3]:
import pandas as pd
import zipfile
import csv
import os

os.chdir("E:/patent")

row = pd.read_csv('veh_row.csv')
veh_row = row.iloc[:,0].tolist()
veh_row = map(int,veh_row)

pid = pd.read_csv('veh_pid_assignee.csv')
veh_pid = pid.iloc[:,1].tolist()
veh_pid = map(int,veh_pid)

In [7]:
d=len(veh_row) - len(veh_pid)
d

188233

In [11]:
veh_pid[0]

630518

In [12]:
veh_row.index(630518)

142855

In [14]:
del veh_row[0:142855]

In [21]:
veh_row[0:50000] == veh_pid[0:50000]

False

# dummy 만들기
### pd.get_dummies 써보기

In [21]:
import pandas as pd
import os
import numpy as np

os.chdir("J:/data/patent")

df = pd.read_csv('qq.csv')

In [34]:
dummy = pd.get_dummies(df['ass_2'])
dummy

    180  181  182  183  184  185  186  187  188  189  190  B3
0     0    0    0    0    0    0    0    1    0    0    0   0
1     0    0    0    0    0    0    1    0    0    0    0   0
2     0    0    0    0    0    0    0    1    0    0    0   0
3     0    0    0    0    0    0    0    0    1    0    0   0
4     0    0    0    0    0    0    0    0    0    0    0   0
5     0    0    0    0    0    0    0    0    0    0    1   0
6     1    0    0    0    0    0    0    0    0    0    0   0
7     0    1    0    0    0    0    0    0    0    0    0   0
8     0    0    1    0    0    0    0    0    0    0    0   0
9     0    0    0    0    0    0    0    0    0    0    0   1
10    0    0    0    0    0    0    0    0    0    0    0   0
11    1    0    0    0    0    0    0    0    0    0    0   0
12    0    0    0    0    0    0    1    0    0    0    0   0
13    0    0    0    0    0    0    0    1    0    0    0   0
14    0    0    0    0    0    0    0    0    1    0    0   0
15    0    0    0    0    0    0    0    0    0    1    0   0
16    0    0    0    0    0    0    0    0    0    0    0   0
17    1    0    0    0    0    0    0    0    0    0    0   0
18    0    0    0    0    0    0    0    0    0    0    0   0
19    0    0    0    0    0    0    0    0    0    0    0   0
20    0    0    0    1    0    0    0    0    0    0    0   0
21    0    0    0    0    1    0    0    0    0    0    0   0
22    0    0    0    0    0    1    0    0    0    0    0   0
23    0    0    0    0    0    0    1    0    0    0    0   0
24    0    0    0    0    0    0    0    0    0    0    0   0
25    0    0    0    0    0    0    0    0    1    0    0   0
26    1    0    0    0    0    0    0    0    0    0    0   0
27    0    0    0    0    0    0    0    1    0    0    0   0
28    1    0    0    0    0    0    0    0    0    0    0   0
29    0    0    0    0    0    0    0    1    0    0    0   0
30    0    0    0    0    0    0    0    0    0    0    0   0
31    0    0    0    0    0    0    0    0    0    0    0   0

In [35]:
type((dummy.iloc[1,1]))

numpy.uint8

In [39]:
a=dummy.iloc[1,1]-dummy.iloc[1,2]
print a, type(a)

0 <type 'numpy.uint8'>

# tsv 불러오기

In [1]:
import csv
import os

os.chdir("J:/data/patent")

In [4]:
tsv = open('qq.txt','rb')
tsv_reader = csv.reader(tsv, delimiter='\t')
header=tsv_reader.next()

In [2]:
with open('qq.txt','rb') as tsvin, open('new.csv', 'wb') as csvout:
    tsvin = csv.reader(tsvin, delimiter='\t')
    csvout = csv.writer(csvout)

    for row in tsvin:
        csvout.writerow(row[1:3])

In [3]:
a=[1,2,3,4]
type(a[1])

int

In [4]:
with open('new.csv', 'wb') as csvout:
    csvout = csv.writer(csvout)
    csvout.writerow(a)

In [2]:
new = open('new.csv','rb')
tsv_reader = csv.reader(new)
header=tsv_reader.next()

In [3]:
type(header[1])

str

# Class 정보 정리

In [8]:
import pandas as pd
import os
import csv

os.chdir("E:/patent")

In [58]:
df = pd.read_csv('clstest.csv')
header=list(df)
header

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [59]:
d = [[] for x in xrange(7)]
len(d)

7

In [60]:
df = dict(zip(header, d))
df

{'a': [], 'b': [], 'c': [], 'd': [], 'e': [], 'f': [], 'g': []}

In [61]:
cls= csv.reader(open('clstest1.csv', 'rb'))
row0 = cls.next()

In [62]:
for line in cls:
    line = line[1:]
    for i in range(0,len(line)/2):
        m=line[2*i]
        df[m].append(line[2*i+1])
        
for key in df.keys():
    df[key]=list(set(df[key]))
    
df

{'a': ['q', 'k', 'r', 't', 'v'],
 'b': ['z', 'm', 'o', 'w'],
 'c': ['x', 'p', 'er'],
 'd': ['q'],
 'e': ['u', 'n'],
 'f': ['i', 'x', 's'],
 'g': ['y', 'z', 't']}

In [63]:
import itertools
with open("test.csv", "wb") as outfile:
    writer = csv.writer(outfile)
    writer.writerow(df.keys())
    writer.writerows(itertools.izip_longest(*df.values()))

# Class정보 melt

In [1]:
import pandas as pd
import os
import csv

os.chdir("J:/data/patent")

In [2]:
df = pd.read_csv('clstest.csv')
mc = [0] + range(1,len(list(df))-1,2)
sc = range(0,len(list(df)),2)

In [3]:
print mc, sc

[0, 1, 3, 5, 7, 9] [0, 2, 4, 6, 8, 10]

In [4]:
mdf = df.iloc[:,mc]
sdf = df.iloc[:,sc]

In [5]:
mdf

   pid    m1    m2     m3    m4   m5
0    1   dfs  23.0    NaN   NaN  NaN
1    2    24  67.0  265.0   6.0    g
2    3  zxcv   6.0    8.0  24.0  NaN
3    4   324  65.0    8.0   NaN  NaN
4    5     g   8.0    NaN   NaN  NaN
5    6    23   NaN    NaN   NaN  NaN
6    7    24   NaN    NaN   NaN  NaN
7    8    67   NaN    NaN   NaN  NaN

In [6]:
mdfs = pd.melt(mdf,id_vars=['pid'], value_name='mainclass')
mdfs.sort_values(['pid','variable'],inplace=True)
mdfs.reset_index(drop=True, inplace=True)
sdfs = pd.melt(sdf,id_vars=['pid'], value_name='subclass')
sdfs.sort_values(['pid','variable'],inplace=True)
sdfs.reset_index(drop=True, inplace=True)

In [7]:
mdfs

    pid variable mainclass
0     1       m1       dfs
1     1       m2        23
2     1       m3       NaN
3     1       m4       NaN
4     1       m5       NaN
5     2       m1        24
6     2       m2        67
7     2       m3       265
8     2       m4         6
9     2       m5         g
10    3       m1      zxcv
11    3       m2         6
12    3       m3         8
13    3       m4        24
14    3       m5       NaN
15    4       m1       324
16    4       m2        65
17    4       m3         8
18    4       m4       NaN
19    4       m5       NaN
20    5       m1         g
21    5       m2         8
22    5       m3       NaN
23    5       m4       NaN
24    5       m5       NaN
25    6       m1        23
26    6       m2       NaN
27    6       m3       NaN
28    6       m4       NaN
29    6       m5       NaN
30    7       m1        24
31    7       m2       NaN
32    7       m3       NaN
33    7       m4       NaN
34    7       m5       NaN
35    8       m1        67
36    8       m2       NaN
37    8       m3       NaN
38    8       m4       NaN
39    8       m5       NaN

In [8]:
result = pd.concat([mdfs, sdfs], axis=1)
result

    pid variable mainclass  pid variable  subclass
0     1       m1       dfs    1       s1     315.1
1     1       m2        23    1       s2     665.0
2     1       m3       NaN    1       s3       NaN
3     1       m4       NaN    1       s4       NaN
4     1       m5       NaN    1       s5       NaN
5     2       m1        24    2       s1    1234.0
6     2       m2        67    2       s2     236.0
7     2       m3       265    2       s3     624.0
8     2       m4         6    2       s4     432.0
9     2       m5         g    2       s5     213.0
10    3       m1      zxcv    3       s1      23.0
11    3       m2         6    3       s2      76.0
12    3       m3         8    3       s3      23.0
13    3       m4        24    3       s4      65.0
14    3       m5       NaN    3       s5       NaN
15    4       m1       324    4       s1      35.0
16    4       m2        65    4       s2       7.0
17    4       m3         8    4       s3     345.0
18    4       m4       NaN    4       s4       NaN
19    4       m5       NaN    4       s5       NaN
20    5       m1         g    5       s1     435.0
21    5       m2         8    5       s2       2.0
22    5       m3       NaN    5       s3       NaN
23    5       m4       NaN    5       s4       NaN
24    5       m5       NaN    5       s5       NaN
25    6       m1        23    6       s1      12.0
26    6       m2       NaN    6       s2       NaN
27    6       m3       NaN    6       s3       NaN
28    6       m4       NaN    6       s4       NaN
29    6       m5       NaN    6       s5       NaN
30    7       m1        24    7       s1      23.0
31    7       m2       NaN    7       s2       NaN
32    7       m3       NaN    7       s3       NaN
33    7       m4       NaN    7       s4       NaN
34    7       m5       NaN    7       s5       NaN
35    8       m1        67    8       s1     132.0
36    8       m2       NaN    8       s2       NaN
37    8       m3       NaN    8       s3       NaN
38    8       m4       NaN    8       s4       NaN
39    8       m5       NaN    8       s5       NaN

In [9]:
fin = result.iloc[:,[0,2,5]]
fin=fin.dropna(how='any').reset_index(drop=True)

In [10]:
fin

    pid mainclass  subclass
0     1       dfs     315.1
1     1        23     665.0
2     2        24    1234.0
3     2        67     236.0
4     2       265     624.0
5     2         6     432.0
6     2         g     213.0
7     3      zxcv      23.0
8     3         6      76.0
9     3         8      23.0
10    3        24      65.0
11    4       324      35.0
12    4        65       7.0
13    4         8     345.0
14    5         g     435.0
15    5         8       2.0
16    6        23      12.0
17    7        24      23.0
18    8        67     132.0

In [11]:
fin.to_csv('test.csv',index=False)