# Compustat data 전처리

1. globla, US 합치기
2. 기업 이름 처리
3. 모든 연도 합치기

### 1. global, US 합치기

In [1]:
import pandas as pd
import os

os.chdir("E:/patent/compustat")

In [28]:
df80 = pd.read_csv('global_80s.csv')
df80u = pd.read_csv('us_80s.csv')

In [29]:
df = df80.append(df80u)
list(df)

['act',
 'at',
 'conm',
 'conml',
 'consol',
 'datadate',
 'ebit',
 'emp',
 'fatb',
 'fate',
 'fatl',
 'fatp',
 'fic',
 'fopo',
 'fsrco',
 'fsrcopo',
 'fsrcopt',
 'fsrct',
 'fuseo',
 'fuset',
 'fyear',
 'gvkey',
 'nicon',
 'ninc',
 'ninoc',
 'ppegt',
 'ppent',
 'revt',
 'teq',
 'xlr',
 'xrd',
 'xstfws']

In [30]:
print len(df), len(df80), len(df80u), len(df80)+len(df80u)

28847 10125 18722 28847

In [31]:
df.to_csv('80s.csv',index=False)

In [32]:
del df80, df80u

In [33]:
df90 = pd.read_csv('global_90s.csv')
df90u = pd.read_csv('us_90s.csv')

In [34]:
df = df90.append(df90u)
print len(df), len(df90), len(df90u), len(df90)+len(df90u)

238454 122429 116025 238454

In [35]:
df.to_csv('90s.csv',index=False)

In [36]:
del df90, df90u

In [37]:
df00 = pd.read_csv('global_00s.csv')
df00u = pd.read_csv('us_00s.csv')

df = df00.append(df00u)
print len(df), len(df00), len(df00u), len(df00)+len(df00u)

401136 292035 109101 401136

In [38]:
df.to_csv('00s.csv',index=False)
del df00, df00u

In [39]:
df10 = pd.read_csv('global_10s.csv')
df10u = pd.read_csv('us_10s.csv')

df = df10.append(df10u)
print len(df), len(df10), len(df10u), len(df10)+len(df10u)

182743 140393 42350 182743

In [40]:
df.to_csv('10s.csv',index=False)
del df10, df10u

### 2. 기업 이름 처리

__plc, kft까지 처리 필요!__

In [2]:
def nameprocessing(s):
    s = str(s)
    
    s = s.replace(".","")
    s = s.replace(",","")    
    s = s.replace(";","")
    s = ''.join(s.split()).lower()
    
    s = s.replace("incorporated","inc")
    s = s.replace("limited","ltd")
    s = s.replace("gmbh","")
    
    rm=['inc','ltd','llc','pte','plc','kft']
    for i in range(0,len(s)):
        if s[-3:] in rm:
            s=s[:-3]
        else:
            break

    return s

In [14]:
df = pd.read_csv('80s.csv')
list(df)[0:5]

['conm', 'conml', 'act', 'at', 'consol']

In [15]:
df['new_assignee']=''
len(list(df))

33

In [16]:
for i in range(0,len(df.index)):
    df.iloc[i,32]=nameprocessing(df.iloc[i,0])

In [4]:
cols = df.columns.tolist()
cols = cols[-1:] + cols[:-1]
df2 = df[cols]
list(df2)[0:3]

['new_assignee', 'conm', 'conml']

In [18]:
df2.to_csv('80s_fin.csv',index=False)

In [19]:
del df2

In [20]:
df = pd.read_csv('90s.csv')
df['new_assignee']=''
len(list(df))

33

In [21]:
for i in range(0,len(df.index)):
    df.iloc[i,32]=nameprocessing(df.iloc[i,0])
df2 = df[cols]
list(df2)[0:3]

['new_assignee', 'conm', 'conml']

In [22]:
df2.to_csv('90s_fin.csv',index=False)
del df2

In [3]:
df = pd.read_csv('00s.csv')
df['new_assignee']=''

for i in range(0,len(df.index)):
    df.iloc[i,32]=nameprocessing(df.iloc[i,0])
df2 = df[cols]
list(df2)[0:3]

NameError: name 'cols' is not defined

In [5]:
df2.to_csv('00s_fin.csv',index=False)
del df2

In [23]:
df = pd.read_csv('10s.csv')
df['new_assignee']=''

for i in range(0,len(df.index)):
    df.iloc[i,32]=nameprocessing(df.iloc[i,0])
df2 = df[cols]
list(df2)[0:3]

['new_assignee', 'conm', 'conml']

In [24]:
df2.to_csv('10s_fin.csv',index=False)
del df2

### 3. 모든 연도 합치기

In [2]:
df80 = pd.read_csv('80s_fin.csv')
df90 = pd.read_csv('90s_fin.csv')
df00 = pd.read_csv('00s_fin.csv')
df10 = pd.read_csv('10s_fin.csv')

In [4]:
df = df80.append(df90, ignore_index=True)
print list(df) == list(df80)

True

In [5]:
print len(df), len(df80)+len(df90), list(df) == list(df90)

267301 267301 True

In [6]:
del df80, df90
df = df.append(df00,ignore_index=True)

In [9]:
print len(df), len(df00)+267301, list(df) == list(df00)

668437 668437 True

In [10]:
del df00
df = df.append(df10, ignore_index=True)

In [12]:
print len(df), len(df10)+668437, list(df) == list(df10)

 851180 851180 True

In [13]:
del df10
df.sort_values(by=['new_assignee'], inplace=True)

In [14]:
df.iloc[10483:10493,]

,new_assignee,conm,conml,act,at,consol,datadate,ebit,emp,fatb,...,nicon,ninc,ninoc,ppegt,ppent,revt,teq,xlr,xrd,xstfws
502461,adenclassifiedssa,ADENCLASSIFIEDS SA,Adenclassifieds SA,21.715,43.736,C,2005-12-31,0.926,NaN,NaN,...,0.563,NaN,NaN,1.249,0.590,21.240,NaN,10.897,NaN,10.897
502462,adenclassifiedssa,ADENCLASSIFIEDS SA,Adenclassifieds SA,33.524,60.297,C,2006-12-31,2.445,NaN,NaN,...,0.370,NaN,NaN,2.097,1.333,34.079,NaN,16.969,NaN,16.969
502464,adenclassifiedssa,ADENCLASSIFIEDS SA,Adenclassifieds SA,77.235,214.576,C,2008-12-31,8.348,NaN,NaN,...,6.372,NaN,NaN,3.267,1.363,59.055,NaN,26.442,NaN,26.442
502463,adenclassifiedssa,ADENCLASSIFIEDS SA,Adenclassifieds SA,90.265,211.156,C,2007-12-31,6.970,NaN,NaN,...,4.395,NaN,NaN,2.791,1.415,50.184,NaN,22.480,NaN,22.480
462588,adept4,ADEPT4 PLC,adept4 PLC,0.063,0.073,C,2003-09-30,-0.186,NaN,NaN,...,-0.186,NaN,NaN,0.014,0.010,0.265,NaN,NaN,NaN,NaN
462587,adept4,ADEPT4 PLC,adept4 PLC,0.079,0.083,C,2002-09-30,-0.107,NaN,NaN,...,-0.107,NaN,NaN,NaN,0.004,0.092,NaN,NaN,NaN,NaN
462591,adept4,ADEPT4 PLC,adept4 PLC,1.599,5.375,C,2006-09-30,-0.579,NaN,NaN,...,-0.614,NaN,NaN,0.381,0.113,3.676,NaN,0.001,NaN,0.001
462589,adept4,ADEPT4 PLC,adept4 PLC,0.072,0.101,C,2004-09-30,-0.205,NaN,NaN,...,-0.205,NaN,NaN,0.021,0.011,0.374,NaN,NaN,NaN,NaN
736922,adept4,ADEPT4 PLC,adept4 PLC,2.827,6.921,C,2012-09-30,-0.354,0.065,NaN,...,-0.897,NaN,NaN,1.129,0.217,12.710,1.387,2.448,NaN,2.448
736921,adept4,ADEPT4 PLC,adept4 PLC,2.126,3.958,C,2011-09-30,-0.074,0.037,NaN,...,-0.118,NaN,NaN,0.871,0.108,8.522,1.813,0.014,NaN,0.014

In [15]:
df.to_csv('compustat.csv', index=False)