# 원하는 Class만 추출
### main code

In [8]:
import pandas as pd
import zipfile
import csv

csv_patent1=open('J:/data/patent/qq.csv','rb')
csv_patent_reader1 = csv.reader(csv_patent1)
header = csv_patent_reader1.next()
class_col = [0,1]

myfile = open("test.csv", 'wb')
myfile_writer = csv.writer(myfile,quoting=csv.QUOTE_ALL)
myfile_writer.writerow(header)
veh_class = [180,187]

for line in csv_patent_reader1:
    for i in class_col:
        if line[i]=='':
            break
            
        else:
            try:            
                if int(line[i]) in veh_class:
                    myfile_writer.writerow(line)
                    break
                
            except ValueError:
                pass            
       
myfile.close()

### veh_class csv에서 추출하기
class list 손으로 입력하지 말고 파일에서 받아오자

In [7]:
import pandas as pd
classinfo=pd.read_csv('J:/data/patent/veh_class.csv')
veh_class=classinfo['class'].tolist()
type(veh_class[2])

long

In [3]:
# Long으로 나오면 int로 바꿔주지 뭐
veh_class = map(int,veh_class)
type(veh_class[2])

int

### class n = ""일 때, class i (i>n) = "" 확인
그래야 for 좀 더 효율적으로 돌리지 (""만나면 바로 break)

In [1]:
###사전작업

import pandas as pd
import zipfile
import csv

zf_patent1 = zipfile.ZipFile('E:/patent/all_patent/harvard_dataset_final_merged_output_1.zip') 
csv_patent1 = zf_patent1.open('harvard_dataset_final_merged_output_1.csv')
csv_patent_reader1 = csv.reader(csv_patent1)

header = csv_patent_reader1.next()
mainclass_col = []

for j in range(62457,63354):
    if 'mainclass' in header[j]:   
        mainclass_col.append(j)
        
classinfo = pd.read_csv('E:/patent/veh_class.csv')
veh_class = classinfo['class'].tolist()
veh_class = map(int,veh_class)

100000개 정도만 check 해보자

In [8]:
er=0
for a in range(0,100000):
    line = csv_patent_reader1.next()
    classlist=[]
    for i in mainclass_col:
        classlist.append(line[i])
    for j in range(0,len(classlist)):
        if classlist[j]=='':
            for k in range(j,len(classlist)):
                if classlist[k]!='':
                    er=er+1
                    break
            break
er

0

개꿀~ ㅎㅎㅎ 이거 쓴다

# Class별 freq 계산

In [72]:
# Basic Settings
import pandas as pd
import zipfile
import csv

csv_patent1=open('J:/data/patent/qq.csv','rb')
csv_patent_reader1 = csv.reader(csv_patent1)
csv_patent_reader1.next()

class_col = [0,1]
veh_class = [180,187]
freq = pd.read_csv('J:/data/patent/qq_freq.csv')

In [73]:
freq

   class  freq
0    180     0
1    187     0

In [74]:
for line in csv_patent_reader1:
    for i in class_col:
    # 공백 시 line 탈출
        if line[i]=='':   
            break
    
        else:
            try:            
                if int(line[i]) in veh_class:
                # 목표를 포착했다 freq를 1 늘리자
                
                    for j in range(0,len(veh_class)):
                        if int(line[i])==freq.at[j,'class']:
                            freq.at[j,'freq'] = freq.at[j,'freq']+1
                            break
                            # 볼일 다 봤으니 탈출
                
            except ValueError:
                pass

In [76]:
freq
freq.to_csv('J:/data/patent/qq_freq.csv',index=False)

# Assginee별 freq 계산

In [10]:
# Basic Settings
import pandas as pd
import zipfile
import csv

csv_patent1=open('J:/data/patent/qq.csv','rb')
csv_patent_reader1 = csv.reader(csv_patent1)
header=csv_patent_reader1.next()

ass_col = []
for i in range(0,len(header)):
    if 'ass' in header[i]:   
        ass_col.append(i)

assignee 몽땅 list로 뽑기  
issue : nan 뒤에 새로운 assignee가 나오나?? 아님 ''랑 똑같나?

In [14]:
ass = []
p_id=[]
for line in csv_patent_reader1:
    for i in ass_col:
        if line[i]=='':
            break
        
        elif line[i]=='nan':
            ass.append('private')
            p_id.append(line[0])
            
        else:
            ass.append(line[i])
            p_id.append(line[0])

list를 df로 만든 후 count

In [6]:
df = pd.DataFrame({'patent_id':p_id,'assignee':ass})
df = df.drop_duplicates()
freq=df.groupby(['assignee']).size().reset_index().rename(columns={'0':'count'})
freq.columns = ['assignee','freq']

In [9]:
freq

   assignee  freq
0       180     9
1       181     3
2       182     3
3       183     4
4       185     3
5       186     5
6       187     6
7       188     4
8       189     2
9       190     2
10       B3     1
11       D8     1
12        a     1
13        b     1
14        c     1
15        d     1
16      dup     1
17        f     1
18        g     1
19      gid     1
20        j     1
21        l     1
22      lic     1
23        m     1
24        n     1
25       no     1
26        o     1
27  private     2
28        r     1
29        s     1
30      sad     1
31      tjk     1
32        u     1
33        w     1
34        x     1
35        z     1

# Assignee 이름 정리

In [ ]:
def preprocessing(s):
    s = str(s)
    
    s = s.replace(".","")
    s = s.replace(",","")    
    s = s.replace(";","")
    s = ''.join(s.split()).lower()
    
    s = s.replace("incorporated","inc")
    s = s.replace("limited","ltd")
    s = s.replace("gmbh","")
    
    rm=['inc','ltd','llc']
    for i in range(0,len(s)):
        if s[-3:] in rm:
            s=s[:-3]
        else:
            break

    return s

In [25]:
s='Hyundai Motor Incorporated ltd llc inc ltd ltd'
s = ''.join(s.split()).lower()
s = s.replace("incorporated","inc")
s

'hyundaimotorincltdllcincltdltd'

In [27]:
s[-3:]

'ltd'

In [28]:
rm=['inc','ltd','llc']
for i in range(0,len(s)):
    if s[-3:] in rm:
        s=s[:-3]
    else:
        break
s

'hyundaimotor'