# Invest info로 파생 변수 생성


### company, year 기준으로 group by
1. amount: sum
2. investor type: dummy, count
3. investment year: date -> year
4. investor country : dummy, count
5. investor state (US 한정) : dummy, count
6. company(assignee) age (year):investment year - founded year
7. company(assignee) country : dummy, count
8. company state (US 한정) : dummy, count

In [8]:
import pandas as pd
import os
import numpy as np

os.chdir("E:/patent")

df = pd.read_csv('veh_selected_deal_info_final.csv')

## 1. Dummy들 만들기 
1. investor type
2. investor country
3. investor state

### 1.1 investor type
1. 어떤 type이 있나?  
2. 각 type별 투자 횟수
  
__구글 refine 쓰면 편할듯?__

__Firm type__  

Private Equity Firm 61283  
Other 7498  
Corporate PE/Venture 7286  
Bank Affiliated 5238  
Individuals 2511  
Investment Management Firm 1370  
Government Affiliated Program 853  
Endowment, Foundation or Pension Fund 628  
Private Equity Advisor or Fund of Funds 628  
SBIC 421  
Insurance Firm Affiliate 378  
Angel Group 254  
Incubator/Development Program 246  
University Program 223  
Service Provider 131  
Non-Private Equity 59   
  
__Fund type__  
Venture Capital 76823  
Generalist Private Equity 5286  
Buyout 5118  
Fund of Funds 838  
Mezzanine 612  
Other Private Equity 249  
Non-Private Equity 59  
includeeditReal Estate 21  

Private Equity & Venture Capital: 53227

### 1.2 investor country  
1. 어떤 나라가 있나?
2. 나라별 투자 횟수

United States 69193  
Unknown 6697  
Canada 3348  
United Kingdom 2608  
Germany 1058  
Israel 765  
Japan 538  
France 537  
South Korea 448  
Switzerland 421  
Taiwan 407  
Sweden 394  
Singapore 297  
Australia 276  
Netherlands 214  
China 201  
Denmark 195  
Norway 190  
Finland 177  
Hong Kong 159  
Belgium 146  
Italy 96  
Ireland 87  
Luxembourg 71  
India 69  
Russia 61  
Spain 51  
Austria 41  
Bahrain 27  
Cayman Islands 27  
Bermuda 23  
Mauritius 19  
Brazil 16  
Utd. Arab Em.16  
Malaysia 15  
New Zealand 15  
Philippines 10  
Portugal 10   
Czech Republic9
Channel Islands8
Saudi Arabia 7
Argentina6
Kuwait6
Poland6
South Africa6
Greece5
Iceland3
Liechtenstein3
Mexico3
Bulgaria2
Cyprus2
Estonia2
Br. Virgin I.1
Colombia1
Egypt1
Georgia1
Hungary1
Indonesia1
Latvia1
Lebanon1
Peru1
Qatar1
Thailand1
Tunisia1
Turkey1
Uruguay1
Vietnam1
Zimbabwe1

### 1.3 investor state  
assignee, investor 모두 구글 refine으로 non-US = null 처리   
Alaska, Mississippi, North Dakota = 0

In [5]:
df.iloc[0:3,]

,assignee,new_assignee,assignee_age_year,assignee_age_month,assignee_country,assignee_founded_year,assignee_state,invest_date,invest_year,deal_amount,firm,firm_country,firm_state,firm_type,fund_type
0,"@pos.com, Inc.",@poscom,12.0,144.0,United States,1983.0,California,1995-01-01,1995.0,NaN,Nazem & Co,United States,New York,Private Equity Firm,Venture Capital
1,"@pos.com, Inc.",@poscom,12.0,150.0,United States,1983.0,California,1995-05-09,1995.0,0.282,Nazem & Co,United States,California,Private Equity Firm,Venture Capital
2,"@pos.com, Inc.",@poscom,12.0,153.0,United States,1983.0,California,1995-07-01,1995.0,0.055,Nazem & Co,United States,New York,Private Equity Firm,Venture Capital

In [9]:
dummy = pd.get_dummies(df, dummy_na=True, columns=['firm_country','firm_state','firm_type','fund_type'])
dummy.iloc[1,]

assignee                                             @pos.com, Inc.
new_assignee                                                @poscom
assignee_age_year                                                12
assignee_age_month                                              150
assignee_country                                      United States
assignee_founded_year                                          1983
assignee_state                                           California
invest_date                                              1995-05-09
invest_year                                                    1995
deal_amount                                                   0.282
firm                                                     Nazem & Co
firm_country_Argentina                                            0
firm_country_Australia                                            0
firm_country_Austria                                              0
firm_country_Bahrain                                              0
firm_country_Belgium                                              0
firm_country_Bermuda                                              0
firm_country_Br. Virgin I.                                        0
firm_country_Brazil                                               0
firm_country_Bulgaria                                             0
firm_country_Canada                                               0
firm_country_Cayman Islands                                       0
firm_country_Channel Islands                                      0
firm_country_China                                                0
firm_country_Colombia                                             0
firm_country_Cyprus                                               0
firm_country_Czech Republic                                       0
firm_country_Denmark                                              0
firm_country_Egypt                                                0
firm_country_Estonia                                              0
                                                          ...
firm_state_West Virginia                                          0
firm_state_Wisconsin                                              0
firm_state_Wyoming                                                0
firm_state_nan                                                    0
firm_type_Angel Group                                             0
firm_type_Bank Affiliated                                         0
firm_type_Corporate PE/Venture                                    0
firm_type_Endowment, Foundation or Pension Fund                   0
firm_type_Government Affiliated Program                           0
firm_type_Incubator/Development Program                           0
firm_type_Individuals                                             0
firm_type_Insurance Firm Affiliate                                0
firm_type_Investment Management Firm                              0
firm_type_Non-Private Equity                                      0
firm_type_Other                                                   0
firm_type_Private Equity Advisor or Fund of Funds                 0
firm_type_Private Equity Firm                                     1
firm_type_SBIC                                                    0
firm_type_Service Provider                                        0
firm_type_University Program                                      0
firm_type_nan                                                     0
fund_type_Buyout                                                  0
fund_type_Fund of Funds                                           0
fund_type_Generalist Private Equity                               0
fund_type_Mezzanine                                               0
fund_type_Non-Private Equity                                      0
fund_type_Other Private Equity                                    0
fund_type_Real Estate                                             0
fund_type_Venture Capital                                         1
fund_type_nan                                                     0
Name: 1, dtype: object

In [10]:
dummy.to_csv('veh_selected_deal_info_dummies.csv',index=False)

## 2. 파생변수 만들기

1. investment year: date -> year
2. company(assignee) age (year):investment year - founded year

### 2.1 investment year
구글 refine으로 처리

### 2.2 assignee age(year)

In [5]:
list(df)

['assignee',
 'new_assignee',
 'assignee_age_month',
 'assignee_country',
 'assignee_founded_year',
 'assignee_state',
 'invest_date',
 'invest_year',
 'deal_amount',
 'firm',
 'firm_country',
 'firm_state',
 'firm_type',
 'fund_type']

In [7]:
df['assignee_age_year']=df['invest_year']-df['assignee_founded_year']
df.iloc[14:23,]

,assignee,new_assignee,assignee_age_month,assignee_country,assignee_founded_year,assignee_state,invest_date,invest_year,deal_amount,firm,firm_country,firm_state,firm_type,fund_type,assignee_age_year
14,"@Road, Inc.",@road,41.0,United States,1996.0,California,1999-06-11,1999.0,5.495,ADMIRAL CAPITAL ENTERPRISES,United States,Maryland,Bank Affiliated,Venture Capital,3.0
15,"@Road, Inc.",@road,41.0,United States,1996.0,California,1999-06-11,1999.0,5.000,Galleon Group,United States,Pennsylvania,Private Equity Firm,Venture Capital,3.0
16,"@Road, Inc.",@road,41.0,United States,1996.0,California,1999-06-11,1999.0,3.115,"ABS Capital Partners, Inc.",United States,New York,Other,Venture Capital,3.0
17,"@Road, Inc.",@road,41.0,United States,1996.0,California,1999-06-11,1999.0,4.795,Institutional Venture Partners,United States,California,Private Equity Firm,Venture Capital,3.0
18,"@Road, Inc.",@road,41.0,United States,1996.0,California,1999-06-11,1999.0,4.795,U.S. Venture Partners,United States,California,Private Equity Firm,Venture Capital,3.0
19,"@Road, Inc.",@road,48.0,United States,1996.0,California,2000-01-01,2000.0,2.000,Institutional Venture Partners,United States,Maryland,Private Equity Firm,Venture Capital,4.0
20,"@Road, Inc.",@road,48.0,United States,1996.0,California,2000-01-01,2000.0,5.000,"ABS Capital Partners, Inc.",United States,Pennsylvania,Other,Venture Capital,4.0
21,"@Road, Inc.",@road,48.0,United States,1996.0,California,2000-01-01,2000.0,6.000,ADMIRAL CAPITAL ENTERPRISES,United States,California,Bank Affiliated,Venture Capital,4.0
22,"@Road, Inc.",@road,48.0,United States,1996.0,California,2000-01-01,2000.0,6.000,Undisclosed Firm,United States,California,Other,Venture Capital,4.0

In [14]:
cols=list(df)
cols

['assignee',
 'new_assignee',
 'assignee_age_month',
 'assignee_country',
 'assignee_founded_year',
 'assignee_state',
 'invest_date',
 'invest_year',
 'deal_amount',
 'firm',
 'firm_country',
 'firm_state',
 'firm_type',
 'fund_type',
 'assignee_age_year']

In [24]:
newcols = cols[0:2]+cols[-1:]+cols[2:-1]
df = df[newcols]
df.iloc[0:3,]

,assignee,new_assignee,assignee_age_year,assignee_age_month,assignee_country,assignee_founded_year,assignee_state,invest_date,invest_year,deal_amount,firm,firm_country,firm_state,firm_type,fund_type
0,"@pos.com, Inc.",@poscom,12.0,144.0,United States,1983.0,California,1995-01-01,1995.0,NaN,Nazem & Co,United States,New York,Private Equity Firm,Venture Capital
1,"@pos.com, Inc.",@poscom,12.0,150.0,United States,1983.0,California,1995-05-09,1995.0,0.282,Nazem & Co,United States,California,Private Equity Firm,Venture Capital
2,"@pos.com, Inc.",@poscom,12.0,153.0,United States,1983.0,California,1995-07-01,1995.0,0.055,Nazem & Co,United States,New York,Private Equity Firm,Venture Capital

In [26]:
df.to_csv('veh_selected_deal_info.csv',index=False)

# 3. groupby assignee, year

### groupby 시 사용할 함수
1. sum: amt, dummies  
2. mean: age  
3. first: ass_country, ass_founded_year, ass_state

In [1]:
import pandas as pd
import os
import numpy as np

os.chdir("E:/patent")
df = pd.read_csv('veh_selected_deal_info_dummies.csv')

### 3.1 함수에 따라 변수 분리 (dummy들 때문에 한 번에 돌리기 힘듦)

In [4]:
col = []
for i in range (0,len(list(df))):
    col.append(i)
max(col)

152

In [20]:
meancol = [1,2,3,8]
firstcol = [1,4,5,6,8]
trashcol = [0,7,10]
sumcol = [1,8]+list(set(col)-set(meancol)-set(firstcol)-set(trashcol))

In [21]:
sumdf = df.iloc[:,sumcol]
meandf = df.iloc[:,meancol]
firstdf = df.iloc[:,firstcol]

In [23]:
list(sumdf)[0:2]

['new_assignee', 'invest_year']

In [38]:
sums = sumdf.groupby(['new_assignee','invest_year'],as_index=False).sum()
means = meandf.groupby(['new_assignee','invest_year'],as_index=False).mean()
firsts = firstdf.groupby(['new_assignee','invest_year'],as_index=False).first()

print len(sums), len(means), len(firsts)

24512 24512 24512

In [42]:
df = firsts.merge(means,how='left',on=['new_assignee','invest_year'],sort=True).merge(
    sums,how='left',on=['new_assignee','invest_year'],sort=True)

len(df)

24512

In [44]:
df.to_csv('veh_investment_groupby_assignee_year.csv',index=False)